
*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}
html{
    scroll-behavior: smooth;
}
@import "_extends.scss";
body{
    background-color:#585c68;
    font-size:14px;
    line-height:22px;
    width:1326px;
    
}

.row{
    margin:0;
}
.template{
    position: relative;
    width:800px;
    margin:0 auto;
    @extend %bgColor;
    border:1px solid #585c68;
    background-color:#fff;
    
    .cv-body{
        position: relative;
        overflow: hidden;
        .row{
            position: relative;
            >.img-header{
                position: absolute;
                width: 100%;
                .img-box{
                    position: relative;
                    height:100%;
                    img{
                        @extend %imagesStyle;
                    }
                }
            }
            >.img-header:first-of-type{
                height:200px;
                top:0;
            }
            >.img-header:last-of-type{
                height:400px;
                bottom:0;
            }
            .cv-img{
                position: absolute;
                z-index: 500;
                top:50px;
                left: 100px;
                margin:20px auto;
                /* margin-top: 71px; */
                .img-box{
                    position: relative;
                    width: 200px;
                    height: 200px;
                    border-radius: 50%;
                    margin: 0px auto;
                    margin-bottom: 20px;
                    border:2px solid #fff;
                    img{
                        @extend %imagesStyle;
                        border-radius:50%;

                    }
                }
            }
            h1{
                position: absolute;
                color:$mainColor;
                z-index: 100;
                width: 60%;
                text-align: center;
                right: 0;
                top: 120px;
                text-shadow: 0 3px 5px $secondColor;  
            }
            >div.col-7{
                position: relative;
                z-index:1000;
                padding-top:300px;
                padding-bottom:300px;
                .about-me{
                    @extend %padding;
                    header{
                        h5{
                            @extend %headerH5;
                            margin:0;
                        }

                    }
                    p{
                        padding:10px 0;
                        color:$pColor;
                    }
                }
                .education{
                    @extend %padding;
                    header{
                        h5{
                            @extend %headerH5;
                            margin:0;
                        }
                    }
                    ul{
                        @extend %ulPadding;
                        li{
                            @extend %liStyle;
                            h6{
                                color:$mainColor;
                                position: relative;
                                display:inline-block;
                                &:after{
                                    @extend %h6After;
                                }
                            }
                            p{
                                padding:0 20px;
                                color:$pColor;
                            }
                            
                        }
                    }
                }
                .experince{
                    @extend %padding;
                    header{
                        h5{
                            @extend %headerH5;
                            margin:0;
                        }
                    }
                    ul{
                        @extend %ulPadding;
                        li{
                            @extend %liStyle;
                            h6{
                                position: relative;
                                color:$mainColor;
                                display:inline-block;
                                &:after{
                                    
                                    @extend %h6After;
                                }
                            }
                            p{
                                padding:0 20px;
                                color:$pColor;
                            }
                        }
                    }
                }
                
            }
            >div.col-5{
                position: relative;
                padding-top:300px;
                padding-bottom:100px;
                z-index:1000;
                //background-color:$mainColor;
                .box{
                    .contact-info{
                        padding-top:20px;
                        margin-bottom:20px;
                        header{
                            padding:0 10px;
                            h5{
                                @extend %headerH5;
                                
                            }
                        }
                        ul{
                            width:100%;
                            padding:10px;
                            li{
                                display:flex;
                                list-style:none;
                                font-size:$fontSize + 2;
                                margin-bottom:10px;
                                color:$liColor;
                                font-weight:600;
                                color:$mainColor;
                                i.fa{
                                    display: block;
                                    color: #e3c098;
                                    background-color: $secondColor;
                                    margin-right: 10px;
                                    line-height: 20px;
                                    width: 25px;
                                    height: 25px;
                                    text-align: center;
                                    border-radius: 50%;
                                    line-height: 25px;
                                }
                                
                                
                            }
                        }
                    }
                    .skills,.languages{
                        margin-bottom:20px;
                        header{
                            padding:0 10px;
                            h5{
                                @extend %headerH5;
                            }
                        }
                        > ul{
                            width:100%;
                            padding:10px;
                            > li{
                                list-style:none;
                                display:flex;
                                justify-content:space-between;
                                padding:10px 0;
                                span{
                                    font-weight:700;
                                    color:$mainColor;
                                }
                                ul{
                                    li{
                                        list-style:none;
                                        display:inline-flex;
                                        margin:0 5px;
                                        color:$secondColor;
                                    }
                                    li.active{
                                        color:$mainColor;
                                    }
                                }
                            }
                        }
                    }
                    .references{
                        padding-top:20px;
                        margin-bottom:20px;
                        header{
                            padding:0 10px;
                            h5{
                                @extend %headerH5;
                                
                            }
                        }
                        ul{
                            width:100%;
                            padding:10px;
                            li{
                                
                                margin-left:20px;
                                font-size:$fontSize + 2;
                                margin-bottom:15px;
                                color:$liColor;
                                font-weight:600;
                                color:$mainColor;
                                p{
                                    color:#555;
                                    margin:0;
                                    span{
                                        display:block;
                                        font-weight:400;
                                    }
                                    span:first-of-type{
                                        
                                        font-size:15px;
                                        margin-bottom:5px;
                                    }
                                }
                                
                            }
                        }
                    }
                }
            }
        }
    }
    
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    background: #00000073;
    min-width: 1326px;
    height: 1048px;
    z-index: 10000;
}
.download-btn{
    background-color: #fff;
    position: absolute;
    top: 550px;
    left: 680px;
    transform: translate(-50%,-50%);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    width: 250px;
    z-index: 10000;
    h5{
        text-align:center;
    }
    p{
        text-align:center;
    }

}
